<div id="<%= dom_id book %>">
<div class="card" style="width: 250px;" >
  <div class="card-body">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> 
     <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p></li>
    <li class="list-group-item">
  <p>
    <strong>Description:</strong>
    <%= book.description %>
  </p></li>
    <li class="list-group-item">  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p></li>
  </ul>
</div>
</div>